<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Language" content="en">
	<title>Twilight Imperium IV battle calculator</title>

	<link href="css/normalize.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/generics.global.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/objects.containers.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/objects.grid.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/components.buttons.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/components.input-groups.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/components.inputs.min.css" type="text/css" rel="stylesheet"/>
	<link href="css/index_style.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="favicon.gif" type="image/x-icon"/>

	<script type="text/javascript" src="js/jquery-3.3.1.slim.min.js">/*RGraph needs jQuery. I don't*/</script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/RGraph.min.js"></script>
	<script type="text/javascript" src="structs.js"></script>
	<script type="text/javascript" src="game-elements.js"></script>
	<script type="text/javascript" src="calculator.js"></script>
	<!--<script type="text/javascript" src="imitator.js"></script>-->

</head>
<body>
<div id="root" class="o-container o-container--small">
	<div class="o-grid center-grid">
		<div class="o-grid__cell block"><strong>Attacker</strong></div>
		<div class="unit-name"></div>
		<div class="o-grid__cell block"><strong>Defender</strong></div>
	</div>
	<div class="o-grid center-grid">
		<select v-model="options.attacker.race" class="o-grid__cell c-field block">
			<option v-for="(name, key) in Races" v-bind:value="key">
				{{ name }}
			</option>
		</select>
		<div class="unit-name"></div>
		<select v-model="options.defender.race" class="o-grid__cell c-field block">
			<option v-for="(name, key) in Races" v-bind:value="key">
				{{ name }}
			</option>
		</select>
	</div>
	<div id="counters">
		<div class="o-grid o-grid--no-gutter center-grid" v-for="(name, key) in UnitType">
			<div class="o-grid__cell counter c-input-group">
				<button type="button" class="c-button upgrade"
						:class="{ 'c-button--brand': attackerUnits[key].upgraded,
								  'c-button--ghost-brand': !attackerUnits[key].upgraded,
								   hidden: !upgradeable(options.attacker.race, key) }"
						@click="attackerUnits[key].upgraded = !attackerUnits[key].upgraded">
					{{ attackerUnits[key].upgraded ? '\u25B2' : '\u25b3' }}
				</button>
				<button type="button" class="c-button c-button--ghost-brand count-stepper" title="Remove unit"
						@click="decrement(attackerUnits[key])">-
				</button>
				<div class="o-field">
					<input v-model.number="attackerUnits[key].count" class="c-field" type="number" min="0">
				</div>
				<button type="button" class="c-button c-button--ghost-brand count-stepper" title="Add unit"
						@click="increment(attackerUnits[key])">+
				</button>
			</div>
			<div class="unit-name">{{displayName(name)}}</div>
			<div class="o-grid__cell counter c-input-group">
				<button type="button" class="c-button c-button--ghost-brand count-stepper" title="remove unit"
						@click="decrement(defenderUnits[key])">-
				</button>
				<div class="o-field">
					<input v-model.number="defenderUnits[key].count" class="c-field" type="number" min="0">
				</div>
				<button type="button" class="c-button c-button--ghost-brand count-stepper" title="Add unit"
						@click="increment(defenderUnits[key])">+
				</button>
				<button type="button" class="c-button upgrade"
						:class="{ 'c-button--brand': defenderUnits[key].upgraded,
								  'c-button--ghost-brand': !defenderUnits[key].upgraded,
								   hidden: !upgradeable(options.defender.race, key) }"
						@click="defenderUnits[key].upgraded = !defenderUnits[key].upgraded">
					{{ defenderUnits[key].upgraded ? '\u25B2' : '\u25b3' }}
				</button>
			</div>
		</div>
	</div>
	<div class="o-grid o-grid--no-gutter center-grid">
		<div class="o-grid__cell block">
			<button type="button" class="c-button c-button--ghost-brand u-small">Clear Attacker</button>
		</div>
		<div class="unit-name"></div>
		<div class="o-grid__cell block">
			<button type="button" class="c-button c-button--ghost-brand u-small">Clear Defender</button>
		</div>
	</div>
	<div class="o-grid o-grid--no-gutter spread-grid">
		<div class="o-grid__cell">
			<button type="button" class="c-button u-small"
					:class="{ 'c-button--brand': showOptions,
					 		  'c-button--ghost-brand': !showOptions }"
					@click="showOptions = !showOptions">Options
			</button>
		</div>
		<div class="o-grid__cell c-input-group">
			<button type="button" class="c-button"
					:class="{ 'c-button--brand': battleType === BattleType.Space,
							  'c-button--ghost-brand': battleType !== BattleType.Space }"
					@click="battleType = BattleType.Space">Space Battle
			</button>
			<button type="button" class="c-button"
					:class="{ 'c-button--brand': battleType === BattleType.Ground,
							  'c-button--ghost-brand': battleType !== BattleType.Ground }"
					@click="battleType = BattleType.Ground">Invasion Combat
			</button>
		</div>
		<div class="o-grid__cell">
			<button type="button" class="c-button u-small"
					:class="{ 'c-button--brand': showHelp,
					 		  'c-button--ghost-brand': !showHelp }"
					@click="showHelp = !showHelp">Help
			</button>
		</div>
	</div>
	<div id="options" :class="{ collapsed: !showOptions }">
		<div class="heading"><strong>Technologies</strong></div>
		<div class="o-grid center-grid" v-for="(option, key) in Technologies">
			<div class="o-grid__cell">
				<label class="" v-bind:for="'attacker.' + key"
					   v-bind:title="option.description">{{option.title}}</label>
				<input type="checkbox" class="" v-bind:id="'attacker.' + key"
					   v-model="options.attacker[key]">
			</div>
			<div class="o-grid__cell">
				<button type="button" class="help" v-bind:title="option.description"></button>
			</div>
			<div class="o-grid__cell">
				<input type="checkbox" class="" v-bind:id="'defender.' + key"
					   v-model="options.defender[key]">
				<label class="" v-bind:for="'defender.' + key"
					   v-bind:title="option.description">{{option.title}}</label>
			</div>
		</div>
		<div class="heading"><strong>Action Cards</strong></div>
		<div class="o-grid center-grid" v-for="(option, key) in ActionCards">
			<div class="o-grid__cell">
				<label class="" v-bind:for="'attacker.' + key"
					   v-bind:title="option.description">{{option.title}}</label>
				<input type="checkbox" class="" v-bind:id="'attacker.' + key"
					   v-model="options.attacker[key]">
			</div>
			<div class="o-grid__cell">
				<button type="button" class="help" v-bind:title="option.description"></button>
			</div>
			<div class="o-grid__cell">
				<input type="checkbox" class="" v-bind:id="'defender.' + key"
					   v-model="options.defender[key]">
				<label class="" v-bind:for="'defender.' + key"
					   v-bind:title="option.description">{{option.title}}</label>
			</div>
		</div>
	</div>
	<div id="help" :class="{ collapsed: !showHelp }">
		<h1>Twilight Imperium IV Edition Battle Calculator</h1>
		<p>Add and remove units to the battle by using '+' and '-' buttons.</p>
		<p>Toggle unit upgrade by '&#x25b3' button.</p>
		<p>Switch battle type between Space Combat and Invasion.</p>
		<p>Read the chart. Huge red and blue percent figures tell the probabilities of either side winning the
			battle.</p>
		<p>Characters below the horizontal axis designate units participating in the battle. Small case letters indicate
			the use of sustain damage abilities.</p>
		<table id="letters-legend">
			<tr>
				<td class="letter">X</td>
				<td>Flagship - characteristics depend on selected race</td>
			</tr>
			<tr>
				<td class="letter">W</td>
				<td>War Sun</td>
			</tr>
			<tr>
				<td class="letter">D</td>
				<td>Dreadnought</td>
			</tr>
			<tr>
				<td class="letter">C</td>
				<td>Cruiser</td>
			</tr>
			<tr>
				<td class="letter">+</td>
				<td>Destroyer</td>
			</tr>
			<tr>
				<td class="letter">V</td>
				<td>Carrier</td>
			</tr>
			<tr>
				<td class="letter">F</td>
				<td>Fighter</td>
			</tr>
			<tr>
				<td class="letter">G</td>
				<td>Ground Force</td>
			</tr>
			<tr>
				<td class="letter">=</td>
				<td>Battle ends in a draw</td>
			</tr>
		</table>
		<p>Graph shows probabilities of battle outcomes. '=' represents a draw outcome.
			Any other point represents an outcome in which units between this point and '=' sign survive.
			Tooltips show probabilities that at least that many units will survive the battle.</p>
		<p>Options allow calculator to take into account some Technologies, Action Cards, and Promissory Notes.</p>
		<p>Units are ordered in what I consider reasonable sequence of dying. I was lazy to implement manual
			ordering.</p>
		<p>Game aspects <strong>not</strong> taken into account by this calculator:</p>
		<ul>
			<li>Nekro Virus gaining technology during a battle thereby changing participating units' battle value,</li>
			<li>Units being already damaged before the battle,</li>
		</ul>
		</p>
		<p>Code and some more info can be found on <a
				href="https://bitbucket.org/IvanBakhtin/ti3calculator">bitbucket</a>.</p>
		<p>Thanks to:
		<ul>
			<li>Ling Weak, Edward Nickson, and L0ft3r​ – for various improvements to the calculator for the third
				edition of the game. This calculator is heavily based on that one.
			</li>
		</ul>
		</p>
		<p>Any suggestions and bug reports are welcome at ivan.bachtin@gmail.com</p>
	</div>
</div>
<div id="result-area" style="width: 600px; height: 400px">
	<canvas id="chart-area" width="600px" height="400px"></canvas>
	<canvas id="chart-area-overlay" width="600px" height="400px"></canvas>
</div>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
	(function () {
		var list = document.getElementsByClassName('help');
		for (var i = 0; i < list.length; i++) {
			list[i].onclick = function () {
				alert(this.getAttribute('title'));
			};
		}
	})();
</script>
</body>
</html>
