<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Language" content="en">
	<title>Twilight Imperium IV battle calculator</title>

	<link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
	<link href="css/index_style.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="favicon.gif" type="image/x-icon"/>

	<script type="text/javascript" src="js/jquery-3.3.1.slim.min.js">/*RGraph needs jQuery. I don't*/</script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/RGraph.min.js"></script>
	<script type="text/javascript" src="structs.js"></script>
	<script type="text/javascript" src="game-elements.js"></script>
	<script type="text/javascript" src="calculator.js"></script>
	<!--<script type="text/javascript" src="imitator.js"></script>-->

</head>
<body>
<div id="root" class="container">
	<div class="row">
		<div class="col">Attacker</div>
		<div class="col btn-group btn-group-toggle">
			<label class="btn btn-outline-secondary" :class="{ active: battleType === BattleType.Space }">
				<input type="radio" name="battleType" id="option1"
					   v-bind:value="BattleType.Space" v-model="battleType">Space Battle
			</label>
			<label class="btn btn-outline-secondary" :class="{ active: battleType === BattleType.Ground }">
				<input type="radio" name="battleType" id="option2"
					   v-bind:value="BattleType.Ground" v-model="battleType">Invasion Combat
			</label>
		</div>
		<div class="col offset-2">Defender</div>
	</div>
	<div id="races" class="row justify-content-center">
		<select v-model="options.attacker.race" class="col-auto">
			<option v-for="(name, key) in Races" v-bind:value="key">
				{{ name }}
			</option>
		</select>
		<select v-model="options.defender.race" class="col-auto offset-2">
			<option v-for="(name, key) in Races" v-bind:value="key">
				{{ name }}
			</option>
		</select>
	</div>
	<div id="counters">
		<div class="row no-gutters justify-content-center" v-for="(name, key) in UnitType">
			<div class="counter input-group">
				<div class="input-group-prepend btn-group-toggle">
					<label class="btn btn-outline-secondary"
						   title="Unit upgrade"
						   :class="{ active: attackerUnits[key].upgraded,
									 hidden: !upgradeable(options.attacker.race, key) }">
						<input type="checkbox" autocomplete="off" v-model="attackerUnits[key].upgraded">^
					</label>
					<button type="button" class="btn btn-outline-secondary" title="Remove unit"
							@click="decrement(attackerUnits[key])">-
					</button>
				</div>
				<input v-model.number="attackerUnits[key].count" class="form-control" type="number" min="0">
				<div class="input-group-append">
					<button type="button" class="btn btn-outline-secondary" title="Add unit"
							@click="increment(attackerUnits[key])">+
					</button>
				</div>
			</div>
			<div class="col unit-name">{{displayName(name)}}</div>
			<div class="counter input-group">
				<div class="input-group-prepend">
					<button type="button" class="btn btn-outline-secondary" title="Remove unit"
							@click="decrement(defenderUnits[key])">-
					</button>
				</div>
				<input v-model.number="defenderUnits[key].count" class="form-control" type="number" min="0">
				<div class="input-group-append btn-group-toggle">
					<button type="button" class="btn btn-outline-secondary" title="Add unit"
							@click="increment(defenderUnits[key])">+
					</button>
					<label class="btn btn-outline-secondary"
						   title="Unit upgrade"
						   :class="{ active: defenderUnits[key].upgraded,
									 hidden: !upgradeable(options.defender.race, key) }">
						<input type="checkbox" autocomplete="off" v-model="defenderUnits[key].upgraded">^
					</label>
				</div>
			</div>
		</div>
	</div>
	<div id="options">
		<div class="row">Technologies</div>
		<div class="row no-gutters justify-content-center" v-for="(option, key) in Technologies">
			<div class="col form-check">
				<input type="checkbox" class="form-check-input" v-bind:id="'attacker.' + key"
					   v-model="options.attacker[key]">
				<label class="form-check-label" v-bind:for="'attacker.' + key" v-bind:title="option.description">{{option.title}}</label>
				<span class="help" v-bind:title="option.description"></span>
			</div>
			<div class="col form-check">
				<input type="checkbox" class="form-check-input" v-bind:id="'defender.' + key"
					   v-model="options.defender[key]">
				<label class="form-check-label" v-bind:for="'defender.' + key" v-bind:title="option.description">{{option.title}}</label>
				<span class="help" v-bind:title="option.description"></span>
			</div>
		</div>
		<div class="row">ActionCards</div>
		<div class="row no-gutters justify-content-center" v-for="(option, key) in ActionCards">
			<div class="col form-check">
				<input type="checkbox" class="form-check-input" v-bind:id="'attacker.' + key"
					   v-model="options.attacker[key]">
				<label class="form-check-label" v-bind:for="'attacker.' + key" v-bind:title="option.description">{{option.title}}</label>
				<span class="help" v-bind:title="option.description"></span>
			</div>
			<div class="col form-check">
				<input type="checkbox" class="form-check-input" v-bind:id="'defender.' + key"
					   v-model="options.defender[key]">
				<label class="form-check-label" v-bind:for="'defender.' + key" v-bind:title="option.description">{{option.title}}</label>
				<span class="help" v-bind:title="option.description"></span>
			</div>
		</div>
	</div>
	<div id="help">
		<h1>Twilight Imperium IV Edition Battle Calculator</h1>
		<p>Add and remove units to the battle by using '+' and '-' buttons.</p>
		<p>Toggle unit upgrade by '^' button.</p>
		<p>Switch battle type between Space Combat and Invasion.</p>
		<p>Read the chart. Huge red and blue percent figures tell the probabilities of either side winning the
			battle.</p>
		<p>Characters below the horizontal axis designate units participating in the battle. Small case letters indicate
			the use of sustain damage abilities.</p>
		<table id="letters-legend">
			<tr>
				<td class="letter">X</td>
				<td>Flagship - characteristics depend on selected race</td>
			</tr>
			<tr>
				<td class="letter">W</td>
				<td>War Sun</td>
			</tr>
			<tr>
				<td class="letter">D</td>
				<td>Dreadnought</td>
			</tr>
			<tr>
				<td class="letter">C</td>
				<td>Cruiser</td>
			</tr>
			<tr>
				<td class="letter">+</td>
				<td>Destroyer</td>
			</tr>
			<tr>
				<td class="letter">V</td>
				<td>Carrier</td>
			</tr>
			<tr>
				<td class="letter">F</td>
				<td>Fighter</td>
			</tr>
			<tr>
				<td class="letter">G</td>
				<td>Ground Force</td>
			</tr>
			<tr>
				<td class="letter">=</td>
				<td>Battle ends in a draw</td>
			</tr>
		</table>
		<p>Graph shows probabilities of battle outcomes. '=' represents a draw outcome.
			Any other point represents an outcome in which units between this point and '=' sign survive.
			Tooltips show probabilities that at least that many units will survive the battle.</p>
		<p>Options allow calculator to take into account some Technologies, Action Cards, and Promissory Notes.</p>
		<p>Units are ordered in what I consider reasonable sequence of dying. I was lazy to implement manual
			ordering.</p>
		<p>Game aspects <strong>not</strong> taken into account by this calculator:</p>
		<ul>
			<li>Nekro Virus gaining technology during a battle thereby changing participating units' battle value,</li>
			<li>Units being already damaged before the battle,</li>
		</ul>
		</p>
		<p>Code and some more info can be found on <a
				href="https://bitbucket.org/IvanBakhtin/ti3calculator">bitbucket</a>.</p>
		<p>Thanks to:
		<ul>
			<li>Ling Weak, Edward Nickson, and L0ft3r​ – for various improvements to the calculator for the third
				edition of the game. This calculator is heavily based on that one.</li>
		</ul>
		</p>
		<p>Any suggestions and bug reports are welcome at ivan.bachtin@gmail.com</p>
	</div>
	<div id="result-area">
		<canvas id="chart-area" width="600px" height="400px"></canvas>
		<canvas id="chart-area-overlay" width="600px" height="400px"></canvas>
	</div>
</div>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript">
	(function () {
		var list = document.getElementsByClassName('help');
		for (var i = 0; i < list.length; i++) {
			list[i].onclick = function () {
				alert(this.getAttribute('title'));
			};
		}
	})();
</script>
</body>
</html>
